@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&family=Roboto:wght@500&family=Space+Grotesk:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&family=Roboto:wght@500&family=Rubik:wght@700&family=Space+Grotesk:wght@300&display=swap');




.header-main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: 1px solid rgba(255, 255, 255, 0.2);
}

.LOGO {
  font-weight: bolder;
  font-size: 48px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2),
    1px 1px 1px rgba(0, 0, 0, 0.6);

}

.header {
  width: 80%;
  display: flex;
  padding-top: 6px;
  padding-bottom: 5px;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-left: 24px;
  padding-right: 24px;
  justify-content: space-between;
  align-items: center;
}
.followme{
  padding: 4px;
  position: absolute;
  letter-spacing: 3px;
  bottom: 140px;
  left: -60px;
  color: rgba(255, 255, 255, 0.9);

  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.9),
    1px 1px 1px rgba(0, 0, 0, 0.05);

  transform: translate(-13px, -50px) rotate(90deg); 
 border-top: 1px solid rgba(255, 255, 255, 0.4);

}
.followme a{
  color: rgb(248, 248, 248);
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.9),
    1px 1px 1px rgba(0, 0, 0, 0.05);


}
.followme:hover{
  background: #040c15;
}

.header a {
  color: rgb(84, 84, 84);
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1px;
}

.header li {
  list-style-type: none;
}

.links {
  display: flex;
  gap: 20px;
}

.links-main {
  display: flex;
  gap: 60px;
  align-items: center;
}




/* CSS */
.button-81 a{
  color: #0d172a;
  text-decoration: none;
}
.button-81 {
  background-color: rgb(240, 240, 242);
  border: 1px solid #f4f5f7;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1;
  padding: 0.1rem 0.8rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 1px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-81:hover {
  background-color: #1e293b;
  color: #fff;
}

@media (min-width: 768px) {
  .button-81 {
    font-size: 1.125rem;
    padding: 0.9rem 1.1rem;
  }
}

.bgMain {
  height: 500px;
  margin-top: 70px;
  position: relative;
}

.bgMain>img:nth-child(1) {
  position: absolute;
  top: -20px;
  left: 60px;
}

.bgMain>img:nth-child(2) {
  position: absolute;
  bottom: -20px;
  left: 40%;
}

.bgMain>img:nth-child(3) {
  position: absolute;
  top: 90px;
  right: 50px;
}

.a {
  filter: blur(150px);
}

.bannrMain {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.myname {
  font-size: 49px;

  font-weight: bolder;
  font-family: 'Rubik', sans-serif;

}

.bannerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.bannerDiv {
  width: 50%;
  padding: 5px;
}
.banner-div-bg{
  width: 75%;
  height:400px;
  position: relative;
  border: 4px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
  
}
.something{
  width: 120px;
  height: 120px;
  position: absolute;
  background: rgb(247, 247, 249);
  top: -40px;
  left: -40px;
  transform: translate(-13px, -50px) rotate(50deg);

}
.banner-div-bg img{
  object-fit: contain;
  width: 390px;
}
.project-main{
  position: relative;
}
.project-bg>img:nth-child(1){
  position: absolute;
  left: 90px;
  bottom: 60px;
}
.project-bg>img:nth-child(2){
  position: absolute;
  right: 80px;
  top: 45%;
}
.project-bg img{
  filter: blur(70px);
}
.project-content{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-container{
  position: relative;
  display: flex;
  width: 80%;
  justify-content: space-between;
}
.project-card{
  width: 370px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 4px;
  margin-top: 30px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 2px;

}
.card-no{
  font-size: 70px;
  letter-spacing: 3px;
  color: rgba(255, 255, 255, 0.9);
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.9),
    1px 1px 1px rgba(0, 0, 0, 0.05);
}
.card-haeding{
  color: #606977;
  font-size: 23px;
}
.project-card span{
  color: #606977;
  text-align: center;
  margin-top: 6px;
}
#pcard1{
  position: absolute;
  left: 8%;
  bottom: 130px;
}
#pcard3{
  position: relative;
  left: -70px;
}
.ca{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.ca div{
  width: 90px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding: 7px;
  background: rgba(255, 255, 255, 0.9);
  border: rgba(255, 255, 255, 0.9);

  border-radius: 46% 54% 70% 30% / 57% 61% 39% 43%;

}
.ca img{
  width: 80px;
  object-fit: contain;
  height: 80px;
}
#ex2, #ex1{
  padding: 40px;
  
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid  rgba(255, 255, 255, 0.1);;
  border-radius: 2px;
}

.exs-container{
  display: flex;
  padding: 10px;
  gap: 20px;
}
#ex1, #ex2 span{
  text-align: justify !important;
  color: #606977;
}
.skill-container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.skill{
  width: 80%;
}
.skill-div{
  display: flex;
  justify-content: space-between;
}
.first-div{
  position: relative;
  display: flex;
  gap: 10px;
  width: 360px;
  height: 360px;
border-radius: 50%;

  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.4);
  animation: rotatetechlogo 40s linear infinite;


}
.skill-bg{
  width: 267px;
  height: 267px;
  background: #eaeff7 !important;
}
.first-div div{
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
 border-radius: 50%;
 animation: rotatetechlogo 40s linear infinite;
 color: #788898;

}
.first-div>div:nth-child(1){
  top: -20px;
}
.first-div>div:nth-child(2){
  left: -20px;
  text-align: left !important;
}
.first-div>div:nth-child(3){
  right: -20px;
  text-align: left !important;
}
.first-div>div:nth-child(4){
  bottom: -20px;
  text-align: left !important;
}
.first-div>div:nth-child(5){
  bottom: 32px;
  text-align: left !important;
  left: 27px;
}
.first-div>div:nth-child(6){
  bottom: 26px;
  text-align: left !important;
  right: 36px;
}
.first-div>div:nth-child(7){
  top: 33px;
  left: 26px;
  text-align: left !important;
}
.first-div>div:nth-child(8){
  top: 33px;
  right: 26px;
  text-align: left !important;
}
.skill-inner{
  position: relative;
  width: 160px;
  height: 160px;
  background:rgba(255, 255, 255, 0.9) !important;
  border: 1px solid rgba(255, 255, 255, 0.7);
  animation: rotatetechlogo2 15s linear infinite reverse !important;
}
.skill-inner  div{
  animation: rotatetechlogo2 15s linear infinite reverse !important;

}
.first-div img{
  width: 40px;
  height: 40px;
  object-fit: contain;
  padding: 4px;
  border-radius: 50%;
  background: transparent !important;
  animation: rotatetechlogo 30s linear infinite;

}
.skill-inner>div:nth-child(1){
  top: 6px;
  right: 1px;
}
.skill-inner>div:nth-child(2){
  left: 0px;
  top: 0px;
}
.skill-inner>div:nth-child(3){
  right:  -2px;
  bottom: 10px;
}
.skill-inner>div:nth-child(4){
  bottom: 0px;
  left: 5px;
 }
 .slikone{
  width: 50%;
 }

 @keyframes rotatetechlogo {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
@keyframes rotatetechlogo2 {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
.contact{
  display: flex;
  position: relative;
  justify-content: center;
}
.contact-container{
  width: 80%;
  display: flex;
  padding: 30px;
  gap: 40px;
}
.contant2{
  width: 60%;
}
.contant1{
  width: 40%;
}
.contant2 div{
  width: 100%;
}
.contant2 input, textarea{
  width: 95%;
  margin-top: 10px;
  border: 1px solid rgba(255, 255, 255, 0.7);
  background: rgba(255, 255, 255, 0.5);
  height: 40px;
  border-radius: 3px;
}
.submit{
  background-color: rgba(255, 255, 255, 0.9);
  cursor: pointer;
  width: 96%;
  height: 42px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  cursor: pointer;
}
.contant1 i{
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 18px;
  text-decoration: none;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2),
    1px 1px 1px rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
}
.contant1 a{
  color: rgba(255, 255, 255, 0.9) !important;
  font-size: 18px;
  text-decoration: none;
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.2),
    1px 1px 1px rgba(0, 0, 0, 0.6);
    letter-spacing: 1px;
}
.social-icons{
  display: flex;
  gap: 40px;
  position: relative;
}
.social-icons div{
  width: 35px;
  position: relative;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.7);
  transform: perspective(1000px) rotate(-30deg) skew(25deg) translate(0,0);
  transition: 0.3;
}
.social-icons i{
  color: #788898 !important;
  box-shadow: 0px 0px 0px #ffffff !important;
}
.social-icons div::before{
  content: ' ';
  position: absolute;
  top: 10px;
  left: -20px;
  width: 20px;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  transition: .5s;
  transform: rotate(0deg) skewY(-45deg);
}
.social-icons div::after{
  content: ' ';
  position: absolute;
  bottom: -20px;
  left: -10px;
  width: 100%;
  height: 20px;
  background: rgba(255, 255, 255, 0.9);
  transition: .5s;
  transform: rotate(0deg) skewX(-45deg);
}
.submit:hover{
  background: #788898 !important;
  color: #eaeff7;
  transition: 1.1s;
  border-radius: 50px;
}
.project-card:hover{
  background: rgba(255, 255, 255, 0.4);
  transition: 1.1s;
}
.portfolio{
  max-width: 1600px;
}
.main-portfolio{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.personal-conatiner{
  width:100%;
  display: flex;
  justify-content: center;
  position: relative;
}
.personal-content{
  width: 80%;
  padding: 10px;
}
.p-project-cmain{
  display: flex;
  gap: 20px;
}
.p-project-cmain .card-no{

  color: rgba(255, 255, 255, 0.9);
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.9),
    1px 1px 1px rgba(0, 0, 0, 0.05);
}
.p-project-cmain div{
  margin-top: 3px;
}
.go-git{
  display: flex;
  justify-content: space-between;
}
.p-project-cmain img{
  width: 100%;
  object-fit: cover;
  height: auto;
  border-radius: 2px;
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 1px;

}
.p-card{
  width: 33%;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 3px;

}
.go-git .button-81{
  box-shadow: 0px 0px 0px rgba(166, 175, 195, 0.25);
  background: rgba(255, 255, 255, 0.6) !important;
  font-size: 17px !important;
  letter-spacing: 2px;
  border: 1px solid rgba(255, 255, 255, 0.9) !important;
}

@media screen and (max-width:600px) {
  .hidemobile{
    display: none;
  }
  .header{
    width: 100%;
    
  }
  .contact-container{
    width: 100%;
    padding: 6px;
    
  }
  .bannerContainer{
    flex-direction: column-reverse;
    width: 100% !important;
    padding: 10px;
    gap: 30px;
    
    margin-top: 20px;
  }
  .contant2 input, textarea {
    width: 98%;
  }
  .submit{
    width: 98% !important;
  }
  .bannerDiv{
    width: 100%;
  }
  .links{
    display: none;
  }
  .project-container{
    width: 96%;
    flex-direction: column;
   gap: 20px;
   margin-top: 30px;
  }
  .project-card{
    position: relative !important;
    top: 0px !important;
    left: 0px !important;
    background: rgba(255, 255, 255, 0.2);
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
   
  .exs-container{
    flex-direction: column;
  }
  .skill-div{
    flex-direction: column;
    gap: 40px;
    padding-left: 15px;
  }
  .slikone{
    width: 100%;
    margin-left: 0px !important;
  }
  .banner-div-bg{
    width: 100%;
    height: 360px;
  }
  
  #ex2, #ex1{
    padding: 6px;
    width:96% !important;
    background: rgba(255, 255, 255, 0.2);

  }
  .p{
    display: none;
  }
  .project-card{
    width: 100%;
  }
  .project-content{
    justify-content: space-between;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    margin-top: 200px;
  }
  .contact-container{
    flex-direction: column;
  }
  .skill-container{
    
  }
  .contant1{
    width: 100%;
  }
  .contant2{
    width: 100%;
  }
  .skill{
    width: 100%;
  }
  .myname{
    font-size: 35px;
  }
  .button-81 {
    padding: 0.9rem 1.1rem;
  }
  .ca{
    flex-wrap: wrap !important;
  }
  .ca div{
    width: 60px !important;
  }
  .ca img{
    width: 60px;
  }
  .exs-container{
    width: 96% !important;
    padding: 0px !important;
  }
  .skill-inner{
    width: 140px;
    height: 140px;
  }
  .skill-bg{
    width: 230px;
    height: 230px;
  }
  .first-div{
    width: 310px;
    height: 310px;
  }
  .bgMain{
    margin-top: 20px;
   
  }
  .slikone .myname{
    font-size: 34px !important;
  }
  .p-project-cmain{
    width: 100% !important;
    flex-direction: column;
    
  }
  .personal-content{
    width: 100% !important;
  }
  .p-card{
    width: 95% !important;
  }
  .followme{
    position: relative  !important;
    bottom: -30px !important;
    left: 0px !important;
    transform: translate(0px, 0px) rotate(0deg); 
  
  }
  .bgMain>img:nth-child(1) {
    position: absolute;
    top: 1px;
    left: 2px;
  }
  .timeline-container{
    width: 98% !important;
  }
  .timeline-container section{
    width: 100% !important;
  }
  
  .bgMain>img:nth-child(2) {
    position: absolute;
    bottom: 10px;
    left:2px;
  }
  
  .bgMain>img:nth-child(3) {
    position: absolute;
    top: 90px;
    right:0px;
  }
  .button{
    right: 80px !important;
  }
  .project-bg{
    display: none !important;
  }
  body{
    background-image: linear-gradient(to right top, #f8e8da, #f5e5d8, #f3e2d6, #f0e0d5, #edddd3, #eddcd0, #eedbcd, #eedaca, #f1dac6, #f4dbc1, #f6dbbd, #f7dcb8) !important;  }
}

.timeline-main{
  width: 100%;
  display: flex;
  justify-content: center;
}
.timeline-container{
  width: 80%;
}
html {
  box-sizing: border-box;
}
*, *::before, *::after {
  box-sizing: inherit;
  -webkit-print-color-adjust: exact !important;
  /* Chrome, Safari 6 – 15.3, Edge */
  color-adjust: exact !important;
  /* Firefox 48 – 96 */
  print-color-adjust: exact !important;
  /* Firefox 97+, Safari 15.4+ */
}


nav.jump-to ul {
  list-style: none;
  padding: 0;
  margin: 1em 0;
  display: flex;
}
nav.jump-to li:nth-child(n+2) {
  margin-left: 1em;
  padding-left: 1em;
  border-left: 1px solid rgba(255,255,255,0.5);
}
nav.jump-to a, nav.jump-to a:link, nav.jump-to a:visited {
  text-decoration: none;
  color: rgba(255,255,255,0.5);
}
nav.jump-to a:hover, nav.jump-to a:active {
  color: #3c6071;
}
:target {
  animation: target-animation 3s ease;
}
@keyframes target-animation {
  0% {
    background: transparent;
  }
  20% {
    background: rgba(86, 138, 163, 0.5);
  }
  100% {
    background: transparent;
  }
}
.timelines {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}
h2.timeline-title {
  font-size: 1.5em;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
  text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5),
    1px 1px 1px rgba(0, 0, 0, 0.03);
}
ul.timeline-items {
  list-style-type: none;
  margin: 2em;
  padding: 0.01em 0 3em 2em;
  border-left: 1px solid rgba(255,255,255,0.5);
}
li.timeline-item {
  margin-bottom: 2em;
  margin-top: -0.3em;
}
li.timeline-item h3 {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  position: relative;
}
.timelines section{
  width: 49%;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 2px;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 0.09);
}
#exeperienc2{
  margin-left: 10px;
}
li.timeline-item h3::before {
  content: "";
  position: absolute;
  left: -2.35em;
  background-color: rgba(255,255,255,0.5);
  box-shadow: inset -1000px -1000px rgba(255,255,255,0.5);
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  transform: translate(-0.5px, 0.2em);
}

li.timeline-item > * {
  margin: 1em 0;
}
li.timeline-item .location {
  font-size: 0.85em;
  font-style: italic;
}
@media screen and (max-width: 700px) {
  html {
    background-image: radial-gradient(circle at left top, white 0%, white 20%, transparent 70%), radial-gradient(circle at right, white 0%, white 5%, transparent 45%), linear-gradient(180deg, #d1d9e2, #a7b3bf);
    background-size: 25em 25em, 30em 30em, 100% 100%;
    background-position: 0 0, 100% 65%, 0 0;
  }
}
@media print {
  @page {
    margin: 0;
  }
  html {
    background: white;
  }
  body {
    padding: 2cm 2.5cm;
    overflow-x: clip;
    position: relative;
  }
  body::before, body::after {
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    background-color: #eff2f4;
    box-shadow: inset -1000px -1000px #eff2f4;
  }
  body::before {
    top: -10em;
    left: -15em;
    width: 25em;
    height: 30em;
  }
  body::after {
    top: -12em;
    right: -12em;
    width: 25em;
    height: 25em;
  }
  button, nav.jump-to {
    display: none;
    visibility: hidden;
  }
}
@media print and (max-width: 400px) {
  body::after {
    top: 30em;
    right: -17em;
  }
}





#cursor {
  position: fixed;
  width: 10px;
  height: 10px;
  background-color: #18d26e;
  border-radius: 100%;
  pointer-events: none;
  z-index: 1000;
  transition: transform ease-out 10ms;
}

#stalker {
  position: fixed;
  margin-top: -15px;
  margin-left: -15px;
  width: 40px;
  height: 40px;
  background-color: #fff;
  opacity: 30%;
  border-radius: 100%;
  pointer-events: none;
  transition: transform ease-out 100ms;
  z-index: 999;
}
.animated-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  animation: cursorAnimation 0.5s infinite alternate;
}

@keyframes cursorAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.3);
  }
}
