@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&family=Roboto:wght@500&family=Rubik:wght@700&family=Space+Grotesk:wght@300&display=swap');

body{
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  width: 100%;
  font-family: 'Rubik', sans-serif !important;

  background-image: linear-gradient(to right top, #f8e8da, #f3e2d4, #efdcce, #ead7c9, #e6d1c3, #e6d0c0, #e7cfbd, #e7ceba, #ecd1ba, #f0d5b9, #f4d8b9, #f7dcb8);
}
.button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.9);
  border: none;
  font-weight: 600;
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 0px 0px 4px rgba(180, 160, 255, 0.253);
  cursor: pointer;
  transition-duration: 0.3s;
  overflow: hidden;
  position: fixed;
  bottom: 10%;
  right: 30px;
}

.svgIcon {
  width: 12px;
  transition-duration: 0.3s;
}

.svgIcon path {
  fill: rgb(10, 10, 10);
}

.button:hover {
  width: 140px;
  border-radius: 50px;
  transition-duration: 0.3s;
  background-color: rgb(249, 248, 250);
  align-items: center;
  color: black;
}

.button:hover .svgIcon {
  /* width: 20px; */
  transition-duration: 0.3s;
  transform: translateY(-200%);
}

.button::before {
  position: absolute;
  bottom: -20px;
  content: "Back to Top";
  color: rgb(8, 8, 8);
  /* transition-duration: .3s; */
  font-size: 0px;
}

.button:hover::before {
  font-size: 13px;
  opacity: 1;
  bottom: unset;
  /* transform: translateY(-30px); */
  transition-duration: 0.3s;
}

