@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300&family=Roboto:wght@500&family=Rubik:wght@700&family=Space+Grotesk:wght@300&display=swap');

body{
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  background: rgb(247, 247, 249);
  width: 100%;
  font-family: 'Rubik', sans-serif !important;

}
